.nav-tabs {
    margin-bottom: 0px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.nomargins {
	margin: 0px;
}

.value-div {
	word-wrap: break-word;
}
.tiny-font {
	font-size:10px;
}

.panel-body {
	padding:0px;
}

.badge-success {
	color: #3c763d;
	background-color: #dff0d8;
}
.badge-important {
	background-color: #b94a48;
}

.map-img {
	width: 100%;
	height: auto;
}

.map-canvas {
	height: 100%;
}