<div class="list-group shus" id="accordion">

    <a ng-repeat="shu in shus | filter:query | orderBy:orderProp" class="list-group-item" data-toggle="collapse" data-target="#collapse{{ shu.id }}">
        {{ shu.description }}<span class="badge {{ shu.last_known_status_datetime | ifIsLateVsTimeoutApplyClass:shu.config.checkin_timeout:'badge-important' }}"> {{ shu.last_known_status_datetime | convertDateStrToAgo }}</span>
		<p class="tiny-font" style="margin-bottom:5px;">Waiting for: <strong>{{ shu.booking_customer_firstname }} {{ shu.booking_customer_lastname }}</strong></p>
        <div class="progress">
			<div class="progress-bar {{ shu.status.fuel_battery_state | progressBarColor }}" role="progressbar" aria-valuenow="{{ shu.status.fuel_battery_state }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ shu.status.fuel_battery_state }}%">
				<span class="sr-only">{{ shu.status.fuel_battery_state }}% Complete (success)</span>
			</div>
		</div>
        <div id="collapse{{shu.id}}" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-4 col-sm-4 col-md-4 tiny-font">
						suid
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 value-div tiny-font text-right">
						{{shu.suid}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-sm-4 col-md-4 tiny-font">
						telephone
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 value-div tiny-font text-right">
						{{shu.telephone_number}}
					</div>
				</div>
				<img src="http://maps.googleapis.com/maps/api/staticmap?center={{shu.last_known_gps_coordinates}}&amp;visual_refresh=true&amp;zoom=17&amp;size=1024x533&amp;maptype=roadmap&amp;markers=color:0x0093ff%7C{{shu.last_known_gps_coordinates}}&amp;sensor=false" class="map-img">
				<div class="row">
					<div class="col-xs-4 col-sm-4 col-md-4 tiny-font">
						<strong>{{shu.config.booking_customer_firstname}} {{shu.config.booking_customer_lastname}}</strong>
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 value-div tiny-font text-right">
						<span class="badge {{ shu.config.consumed | greenFrom1:'badge-success' }} tiny-font">Consumed</span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 text-center">
						<strong>Status</strong>
					</div>
				</div>
				<div class="row" ng-repeat="(key, value) in shu.status">
					<div class="col-xs-4 col-sm-4 col-md-4 tiny-font">
						{{key}}
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 value-div tiny-font text-right">
						{{value}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 text-center">
						<strong>Config</strong>
					</div>
				</div>
				<div class="row" ng-repeat="(key, value) in shu.config">
					<div class="col-xs-4 col-sm-4 col-md-4 tiny-font">
						{{key}}
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 value-div tiny-font text-right">
						{{value}}
					</div>
				</div>
			</div>
		</div>
    </a>
	<a class="list-group-item text-center" ng-click="getData()"> Fist the wookie to refresh!</a>
</div>
